.App {
	min-height: 100vh;
	background-color: var(--veryLightGray);
}

.header-cont {
	width: 100%;
	height: 5rem;
}

.main {
	background-color: var(--veryLightGray);
	min-height: 100vh;
	padding-bottom: 4rem;
}

.more-info-main {
	background-color: var(--white);
	height: calc(100vh - 6rem);
	margin-top: 1rem;
}

.countries-cont {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 4rem;
	padding: 0px 4rem;
}

.controls-cont {
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4rem;
}
